 .landingTextContainer {
     position: fixed;
     transition: all 2s ease-in-out;
     // width: 300px;
     left: 5%;
     bottom: 5%;
     display: flex;
     flex-direction: column;
     padding-bottom: 20px;
 }


 .icons {
     font-size: 10px;
     display: flex;
     flex-direction: row;
 }

 .introGrid {
     padding-top: 5px;
     display: grid;
     column-gap: 4vw;
     row-gap: 5px;
     grid-template-columns: auto auto auto;
     font-size: 1vw;
 }

 li {
     font-family: 'IBM Plex Mono', monospace !important;
     text-decoration: none;
     list-style: none;
     color: white;
     opacity: 1;
     letter-spacing: 0.1rem;
 }

 .miniLink {
     font-weight: 900;
     transition: transform 0.2s;
     font-family: 'IBM Plex Mono', monospace !important;
     text-decoration: none;
     list-style: none;
     color: white;
     opacity: 1;
     letter-spacing: 0.1rem;

     &:hover {
         transform: perspective(120px) rotateY(35deg);
     }
 }



 .sideNavBackground,
 .sideNavBackgroundActive {
     position: fixed;
     bottom: 0%;
     height: 15vh;
     width: 100vw;
     z-index: -1;
     //         background-color: #7cb3f5;
     // background-image: linear-gradient(62deg, #7cb3f5 0%, #a055fc 100%);
 }

 .sideNavBackground {
     background-color: transparent;
 }

 .sideNavBackgroundActive {
     background-color: #7cb3f5;
 }

 @media (max-width:960px) {
     .introGrid {
         font-size: 2vw;
     }
 }