.exploreButton {
    // height: 34px;
    padding-top: 30px;
    background-color: #7cb3f5;
    border: none;
    border-radius: 10px;
    font-size: 5vw;
    cursor: pointer;
    width: fit-content;

    a {
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        color: white;
    }

    &:hover {
        transform: scale(1.02);
    }
}