.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 10px solid cornflowerblue;


    @keyframes fadeIn {
        0% {
            transform: translatey(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .container {
        display: grid;
        grid-auto-flow: column;
        gap: 8em;
        width: min(90%, 85rem);
        animation: 1s ease-in-out 0s 1 fadeIn;
        z-index: 1;


        p {
            color: black;
            font-size: 1.5vw;
            opacity: 0.8;
            padding: 20px;
            align-self: flex-end;
        }

    }

    .textBox {
        padding: 20px;

        h2 {
            color: black;
            // -webkit-text-stroke: 0.1px black;
            font-size: 50px;
            opacity: 0.8;
            transition: opacity 1s ease-out;
            // letter-spacing: 0.3rem;
            // -webkit-transform: scale(1.5, 1.5);
        }
    }

}

.sideNavBackground,
.sideNavBackgroundActive {
    position: fixed;
    bottom: 0%;
    height: 15vh;
    width: 100vw;
    //  z-index: -1;
    //         background-color: #7cb3f5;
    // background-image: linear-gradient(62deg, #7cb3f5 0%, #a055fc 100%);
}

.sideNavBackground {
    background-color: transparent;
}

.sideNavBackgroundActive {
    background-color: cornflowerblue;
}

@media (max-width:960px) {
    .main {
        .container {
            gap: 2em;
            grid-auto-flow: row;

            p {
                font-size: 15px;
            }
        }

    }
}